.content {
  width: 9.466667rem;
  height: 100%;
  margin: auto;
}

a:hover {
  text-decoration: none;
}

#eleme {
  overflow: auto;
}

#eleme .eleme-header {
  width: 100%;
  height: 2.533333rem;
  background: #00A0FE;
  color: #fff;
  font-size: .426667rem;
  line-height: .4rem;
  overflow: hidden;
}

#eleme .eleme-header .box1 {
  margin-top: .533333rem;
}

#eleme .eleme-header .box2 {
  display: flex;
  justify-content: center;
  margin-top: .426667rem;
}

#eleme .eleme-header .box2 form {
  position: relative;
}

#eleme .eleme-header .box2 form i {
  position: absolute;
  top: .2633rem;
  left: 1.8rem;
  color: #ccc;
}

#eleme .eleme-header .box2 form input {
  display: block;
  width: 9.253333rem;
  height: .933333rem;
  box-sizing: border-box;
  padding-left: 2.3rem;
}

#eleme .eleme-main .box1 {
  height: 4.706667rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eleme .eleme-main .box1 .list1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

#eleme .eleme-main .box1 .list1 li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #424141;
  font-size: .32rem;
}

#eleme .eleme-main .box1 .list1 li a img {
  width: 1.6rem;
}

#eleme .eleme-main .box1 i {
  margin: 0.2rem 0.1rem;
  color: #888484;
}

#eleme .eleme-main .box1 i:first-child {
  margin: 0.2rem 0.1rem;
  color: #68ebb4;
}

#eleme .eleme-main .box2 {
  height: 2.933333rem;
  background: #f1f1f1;
  position: relative;
}

#eleme .eleme-main .box2 .qianggou {
  padding-left: .4rem;
  box-sizing: border-box;
  overflow: hidden;
}

#eleme .eleme-main .box2 .qianggou h2 {
  font-size: .4rem;
  line-height: .4rem;
  margin-top: .373333rem;
}

#eleme .eleme-main .box2 .qianggou p {
  font-size: .32rem;
  line-height: .32rem;
  color: #807a7a;
  margin-top: .266667rem;
}

#eleme .eleme-main .box2 .qianggou a {
  display: block;
  font-size: .32rem;
  line-height: .32rem;
  color: #A48662;
  margin-top: .333333rem;
}

#eleme .eleme-main .box2 .beijing {
  position: absolute;
  top: .133333rem;
  right: .266667rem;
  width: 4rem;
  height: 2.4rem;
  background: url(../images/images/list1.webp) no-repeat;
  background-size: cover;
}

#eleme .eleme-main .box3 {
  background: #F7E2AB;
  height: 1.066667rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #755F2E;
  font-size: .266667rem;
  margin: .133333rem 0;
}

#eleme .eleme-main .box3 .b3-left {
  display: flex;
  justify-content: space-between;
  padding-left: .4rem;
  box-sizing: border-box;
  width: 4.533333rem;
}

#eleme .eleme-main .box3 .b3-left h2 {
  font-size: .346667rem;
  color: #5e481a;
}

#eleme .eleme-main .box3 .b3-left i {
  width: .453333rem;
  height: .453333rem;
  background: url(../images/super.png) no-repeat;
  background-size: .453333rem;
}

#eleme .eleme-main .box3 .b3-right a {
  color: #755F2E;
  margin-right: .4rem;
}

#eleme .eleme-main .box4 {
  height: 2.346667rem;
}

#eleme .eleme-main .box4 img {
  height: 2.346667rem;
  width: 100%;
}

#eleme .eleme-main .box5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eleme .eleme-main .box5 h2 {
  font-size: .373333rem;
  line-height: .373333rem;
  margin-top: .506667rem;
}

#eleme .eleme-main .box5 .list1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: .346667rem;
  line-height: .346667rem;
  margin-top: .64rem;
}

#eleme .eleme-main .box5 .list2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#eleme .eleme-main .box5 .list2 a {
  display: flex;
  height: 4.266667rem;
}

#eleme .eleme-main .box5 .list2 .llii {
  padding-left: 2rem;
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #ecebeb;
}

#eleme .eleme-main .box5 .list2 img {
  width: 1.733333rem;
  position: absolute;
  top: 0;
  left: 0;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(1) p {
  font-size: .373333rem;
  line-height: .373333rem;
  color: #000;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(1) p span:first-child {
  display: inline-block;
  line-height: .453333rem;
  padding: 0 .08rem;
  background: yellow;
  font-size: .266667rem;
  vertical-align: middle;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(1) p span:nth-child(2) {
  display: inline-block;
  width: 5.52rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(1) .sp1 {
  font-size: 20px;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(2) p:first-child {
  display: flex;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(2) p:first-child i {
  width: .266667rem;
  height: .266667rem;
  background: url(../images/xingxing1.png) no-repeat;
  background-size: cover;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(2) p:first-child span {
  font-size: .266667rem;
  line-height: .266667rem;
  margin-left: .093333rem;
  color: #444242;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(2) p:last-child {
  display: flex;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(2) p:last-child span {
  font-size: .24rem;
  line-height: .333333rem;
  background: #00A0FE;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(3) {
  display: flex;
  justify-content: space-between;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(3) p {
  display: flex;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(3) p span {
  font-size: .266667rem;
  line-height: .266667rem;
  margin-left: .093333rem;
  color: #444242;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(4) {
  display: flex;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(4) span {
  font-size: .266667rem;
  line-height: .373333rem;
  border: 1px solid #ccc;
  padding: 0 .16rem;
  margin-left: .093333rem;
  color: #444242;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(4) .koubei {
  padding-left: .373333rem;
  background: url(../images/koubei.png) no-repeat 0 center;
  color: #9e2d2d;
  font-size: .266667rem;
  border: 0;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(5) {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #ccc;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(6) {
  display: flex;
  justify-content: space-between;
  font-size: .266667rem;
  color: #696767;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(6) p:first-child {
  display: flex;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(6) p:first-child span:first-child {
  line-height: .373333rem;
  border-radius: .04rem;
  padding: 0 .066667rem;
  background: #b92828;
  margin-right: .133333rem;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(6) p:first-child span:last-child {
  width: 5.333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(7) {
  display: flex;
  justify-content: space-between;
  font-size: .266667rem;
  color: #696767;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(7) p:first-child {
  display: flex;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(7) p:first-child span:first-child {
  line-height: .373333rem;
  border-radius: .04rem;
  padding: 0 .066667rem;
  background: #b92828;
  margin-right: .133333rem;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(7) p:first-child span:last-child {
  width: 5.333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(-n+5):nth-child(n+2) {
  margin-top: .333333rem;
}

#eleme .eleme-main .box5 .list2 .list3 li:nth-child(n+6) {
  margin-top: .133333rem;
}

#eleme .eleme-main .box5 .list2 .llii:first-child {
  margin-top: .773333rem;
}

#eleme .eleme-main .box5 .list2 .llii:nth-child(n+2) {
  margin-top: .4rem;
}

#eleme .eleme-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 -0.06667rem 0.04rem #f1efef;
}

#eleme .eleme-footer .list1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 1.4rem;
}

#eleme .eleme-footer .list1 li a {
  display: block;
  width: .493333rem;
  padding-top: .613333rem;
  background: url(../images/eee.png) no-repeat center 0;
  background-size: contain;
  text-align: cover;
  color: #00A0FE;
  font-size: .24rem;
}

#eleme .eleme-footer .list1 li:nth-child(2) a {
  background: url(../images/1.png) no-repeat center 0;
  background-size: contain;
  color: #ccc;
}

#eleme .eleme-footer .list1 li:nth-child(3) a {
  background: url(../images/2.png) no-repeat center 0;
  background-size: contain;
  color: #ccc;
}

#eleme .eleme-footer .list1 li:nth-child(4) a {
  background: url(../images/3.png) no-repeat center 0;
  background-size: contain;
  color: #ccc;
}
