* {
  margin: 0;
  padding: 0;
}

ol,
ul,
dl {
  list-style: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

#taobao {
  width: 100%;
  height: 100%;
}

#taobao #list li {
  float: left;
  width: 251px;
  border: 1px #ccc solid;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 22px;
  margin-right: 22px;
  display: block;
  text-decoration: none;
}

#taobao #list li img {
  width: 220px;
  height: 220px;
}

#taobao #list li .smallimg {
  height: 55px;
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

#taobao #list li .smallimg img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 6px;
  float: left;
  border: 1px solid #ccc;
}

#taobao #list li .smallimg .checked {
  border: 1px solid #ff6700;
}

#taobao #list li .ssmallimg::after {
  content: '';
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: block;
  clear: both;
}

#taobao #list li h4 {
  color: #ff6700;
  font-weight: 12px;
  font-size: 16px;
  line-height: 16px;
  margin-top: 20px;
  text-align: left;
}

#taobao #list li h4 span:nth-child(2) {
  display: inline-block;
  padding: 0 3px;
  color: #fff;
  background: #ff6700;
  font-size: 12px;
  font-weight: 0;
}

#taobao #list li h4 span:nth-child(3) {
  display: inline-block;
  color: #ccc;
  font-size: 12px;
  float: right;
}

#taobao #list li p:nth-of-type(1) {
  text-align: left;
  margin-top: 16px;
}

#taobao #list li p:nth-of-type(1) a {
  color: #1a1919;
  font-size: 16px;
  line-height: 16px;
  text-decoration: underline;
}

#taobao #list li p:nth-of-type(2) {
  color: #ccc;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  text-decoration: underline;
  text-align: left;
}

#taobao #list li p:nth-of-type(2) span:nth-child(1) {
  float: left;
}

#taobao #list li p:nth-of-type(2) span:nth-child(1) a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
}

#taobao #list li p:nth-of-type(2) span:nth-child(1) a:hover {
  text-decoration: underline;
  color: #ff6700;
  font-size: 16px;
}

#taobao #list li p:nth-of-type(2) span:nth-child(2) {
  float: right;
}

#taobao #list li p:nth-of-type(2)::after {
  content: '';
  width: 0;
  overflow: hidden;
  clear: both;
  visibility: hidden;
  display: block;
}

#taobao #list li p:nth-of-type(3) {
  color: #cccccc;
  font-size: 16px;
  line-height: 16px;
  text-align: right;
  margin-top: 24px;
}

#taobao #list li p:nth-of-type(3) span {
  display: inline-block;
  width: 106px;
  height: 18px;
  border: 1px #ccc solid;
}

#taobao #list li .big-img {
  width: 220px;
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
}

#taobao #list li .big-img p {
  width: 220px;
  height: 50px;
  background: rgba(255, 102, 0, 0.9);
  margin: 0;
  position: absolute;
  left: 0;
  bottom: -50px;
  transition: bottom 1s;
  text-align: center;
}

#taobao #list li .big-img p span {
  color: #fff;
  font-size: 16px;
  margin: 0 10px;
}

#taobao #list li .big-img p a {
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

#taobao #list li .big-img:hover p {
  bottom: 0;
}

#taobao #list li:nth-child(5n) {
  margin-right: 0;
}

#taobao #list li:hover {
  border: 1px solid #ff6700;
}

#taobao #list::after {
  content: '';
  display: block;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
