.clearfix::after{
    content: "";
    height: 0;
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
.conten{
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.tit_h2 h2{
    display: inline-block;
    font-size: 26px;
    line-height: 66px;
    color: #000;
}
.tit_h2 span{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-left: 22px;
}
.tit_h2 .sp1{
    float: right;
    line-height: 66px;
    color: #717171;
}
.tit_h2{
    margin-top: 20px;
    /* background: red; */
}
.xiaolu{
    width: 100%;
}

/* 
-------header star----
*/
.xiaolu .header{
width: 100%;
height: 70px;
position: fixed;
top: 0;
left: 0;
background: #fff;
z-index: 999;
}
.xiaolu .header h2{
    display: inline-block;
    font-size: 11px;
    line-height: 32px;
    margin-top: 18px;
    color: #FFA800;
    padding-left: 87px;
    background: url(../images/小鹿/images/logo_1.png) no-repeat;
}
.xiaolu .header ul{
    float: right;
    height: 70px;
}
.xiaolu .header ul li{
    float: left;
}
.xiaolu .header ul li a{
    line-height: 70px;
    font-size: 15px;
    padding: 0 30px;
    color: #000;
}
.xiaolu .header ul li a:hover{
    color: rgb(241, 82, 34);
}


/* 
---==--banner star
*/
.xiaolu .banner{
    width: 100%;
height: 350px;
background: #ff6700;
text-align: center;
position: relative;
margin-top: 70px;
}
.xiaolu .banner img{
    width: 100%;
    height: 100%;
}
.xiaolu .banner ul{
    padding-top: 13px;
    box-sizing: border-box;
     position: absolute;
    top: 0;
    height: 350px;
    background: #A7A4A3;
}
.xiaolu .banner ul a{
   width: 240px;
    display: block;
    font-size: 16px;
    color: #fff;
    line-height: 64px;
position: relative;
}
.xiaolu .banner ul a:hover{
  background: #717171;
}
.xiaolu .banner ul li{
    width: 240px;
    height: 64px;
}
.xiaolu .banner ul .erji{
    width: 480px;
    height: 350px;
    background: #717171;
    position: absolute;
    top: 0;
    left: 240px;
    display: none;
}
.xiaolu .banner ul .erji li{
    float: left;
    width: 125px;
    margin-right: 2px;
}
.xiaolu .banner ul .erji li a{
    display: inline-block;
    line-height: 64px;
    width: 124px;
    /* float: left; */
}
.xiaolu .banner ul .erji li span
{
    display: inline-block;
    width: 1px;
    color: #fff;
    float: right;
    line-height: 64px;
}

.xiaolu .banner ul .erji li a:hover{
    color: #ff6700;
}
.xiaolu .banner ul .erji .bian{
    border: 1px solid #fff;
}
.xiaolu .banner ul li:hover .erji{
display: block;
}
/* 
art star----
*/

.art .art_nav{
    width: 1200px;
    height: 62px;
    margin: auto;
    font-size: 12px;
}
.art .artma{
    width: 100%;
    font-size: 12px;
}
.art .artma ul{
    height: 157px;
    
    font-size: 12px;
}
.art .artma ul li{
    /* background: url(../images/小鹿/images/icon-proimse-1.png) no-repeat center 40px; */
    height: 157px;
    font-size: 12px;
    width: 198px;
    text-align: center;
    padding-top: 120px;
    box-sizing: border-box;
    float: left;
}
.art .artma ul .li1{
    background: url(../images/小鹿/images/icon-proimse-1.png) no-repeat center 40px;
}
.art .artma ul .li2{
    background: url(../images/小鹿/images/icon-proimse-2.png) no-repeat center 40px;
}
.art .artma ul .li3{
    background: url(../images/小鹿/images/icon-proimse-3.png) no-repeat center 40px;
}
.art .artma ul .li4{
    background: url(../images/小鹿/images/icon-proimse-4.png) no-repeat center 40px;
}
.art .artma ul .li5{
    background: url(../images/小鹿/images/icon-proimse-5.png) no-repeat center 40px;
}
.art .artma ul .li6{
    background: url(../images/小鹿/images/icon-proimse-6.png) no-repeat center 40px;
}
.art .artma{
    height: 604px;
    width: 100%;
    /* background: #1e6d4c; */
}
.art .artma .art222{
    height: 360px;
    width: 100%; 
    position: relative;
}
.art .artma .art222 a{
   display: inline-block;
   
}
.art .artma .art222 .a1{
   float: left;
   margin-right: 10px;
}
.art .artma .art222 .art222d{
   display: inline-block;
   width: 262px;
   height: 360px;
   float: left;
   margin-right: 10px;
  
}
.art .artma .art222 .art222d img{
   width: 262px;
   height: 175px;
}
.art .artma .art222 span{
    display: block;
    width: 540px;
   height: 80px;
    background: rgba(5, 5, 5, 0.2);
    position: absolute;
    top: 280px;
    padding-left: 30px;
     box-sizing: border-box;
}

.art .artma .art222 span a{
    display: block;
    margin-top: 33px;
    color: #fff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.art .artma .art222 .art222d span a{
    display: block;
    margin-top: 23px;
}
.art .artma .art222 .artp1{
    display: block;
    width: 262px;;
    height: 60px;
    background: rgba(10, 9, 9, 0.2);
    position: absolute;
    top: 115px;
    padding-left: 20px;
     box-sizing: border-box;
}
.art .artma .art222 .artp2{
    display: block;
    width: 262px;;
   height: 60px;
    background: rgba(12, 12, 12, 0.2);
    position: absolute;
    top: 300px;
    padding-left: 20px;
     box-sizing: border-box;
}

.art .art_nav .artu{
    height: 62px;
    width: 880px;
    /* background: pink; */
    float: left;
     
}
.art .art_nav .artu li{
    height: 62px;
     line-height: 62px;
    float: left;
}
.art .art_nav .artu li a{
    display: block;
    /* font-size: 12px; */
    padding: 0 26px;
    color: #000;
}
.art .art_nav .artu a:hover{
    color: #ff6700;
}
.art .art_nav span a{
    display: block;
    float: right;
    line-height: 62px;
    color: rgb(212, 209, 209);
}
.art .art_nav a:hover{
    color: #ff6700;
}
.art .artlist li img{
    width: 240px;
    height: 160px;
}
.art .artlist li{
    width: 570px;
    height: 160px;
    float: left;
    /* background: pink; */
    margin-bottom: 30px;
}
.art .artlist li:nth-child(2n+1){
    margin-right: 60px;
}
.art .artlist li .a1{
    float: left;
}
.art .artlist li .artd1{
    width: 300px;
    float:left;
    margin-left: 30px;
}
.art .artlist li .artd1 h2{
    font-size: 18px;
    line-height: 18px;
    margin-top: 8px;
    color: #000;
}
.art .artlist li .artd1 span{
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-top: 16px;
    color: #717171;
    margin-right: 40px;
}

.art .artlist li .artd1 p{
    color: rgb(46, 44, 44);
    font-size: 12px;
    line-height: 25px;
    margin-top: 26px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
}

/* 

------clall star--------------------

*/
.call{
    width: 100%;
    background: #F8F8F8;
}
.call .adv{
    width: 100%;
    height: 180px;
    /* overflow: hidden; */
    position: relative;
    background: url(../images/小鹿/images/bg-help.png) no-repeat;
}
.call .adv h2{
    margin-left: 250px;
font-size: 28px;
font-weight: bold;
line-height: 28px;
padding-top: 52px;
box-sizing: border-box;
}
.call .adv span{
     margin-left: 250px;
    display: block;
font-size: 15px;
line-height: 15px;
margin-top: 32px;
}
.call .adv a{    
display: inline-block;
text-align: center;
width: 180px;
font-size: 18px;
line-height: 60px;
color: #fff;
background: #ff6700;
border-radius: 30px;
position: absolute;
top: 50px;
right: 150px;
}
.call .adv .we2{
    /* float: left; */
   width: 182px;
   height: 222px;
   /* background: #fff; */
   display: none;
   position: absolute;
   top: -202px;
    right: 150px;
    /* z-index: 999999; */
    background: url(../images/小鹿/images/emotion-help-qrcode.png) no-repeat center 66px , #fff;
    background-size:140px 140px;
   
}
.call .adv .we2 p{
    font-size: 12px;
   width: 104px;
   display: block;
  margin: auto;
  margin-top: 22px;
}
.call .adv a:hover + .we2{
    display: block;
    z-index: 9999;
}
.call .huati{
    width: 100%;

}
.call .huati ul{
    margin-top: 30px;
    padding-bottom: 37px;
}
.call .huati li{
    width: 270px;
    height: 334px;
    /* background: red; */
    position: relative;
    float: left;
    margin-right: 40px;
}
.call .huati li img{
    width: 100%;
    height: 180px;
}
.call .huati li .a22{
    display: block;
    width: 270px;
    line-height: 180px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background: rgb(2, 2, 2,0.3);
    position: absolute;
    top: 0;
}
.call .huati li .a11{
    height: 54px;
    width: 240px;
    margin: auto;
    border-bottom: 1px dashed #717171;
}
.call .huati li .a11 a{
    margin-top: 14px;
    display: inline-block;
    text-align: center;
    width: 66px;
    line-height: 26px;
    font-size: 12px;
    color: #000;
    margin-right: 16px;
    background: #FDF2E9;
    border-radius: 26px;
}
.call .huati li p {
    display: block;
    height: 18px;
    margin-left: 20px;
    padding-left: 25px;
    box-sizing: border-box;
    background: url(../images/小鹿/images/icon-q.png) no-repeat 0 center;
}
.call .huati li p a{
    display: block;
line-height: 18px;
font-size: 12px;
color: #717171;
margin-top: 11px;
width: 196px;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}


/* 
------zixun star
*/
.xiaolu .zixun{
    height: 1046px;
    /* background: rgb(21, 19, 88); */
}
.xiaolu .zixun .zixund{
    height: 350px;
    overflow: hidden;
    width: 100%;
    background: url(../images/小鹿/images/bg-counsoler.png) no-repeat;
}
.xiaolu .zixun .zixund .wenti{
    height: 290px;
    width: 365px;
    background:rgba(10, 9, 9, 0.5);
    margin-top: 30px;
    margin-left: 30px;
}
.xiaolu .zixun .zixund .wenti1{
    height: 290px;
    width: 290px;
    /* background:rgba(10, 9, 9, 0.5); */
    margin: auto;
    overflow: hidden;
}
.xiaolu .zixun .zixund .wenti1 h2{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    line-height: 18px;
    font-size: 18px;
}
.xiaolu .zixun .zixund .wenti1 ul{
    margin-top: 30px;

}
.xiaolu .zixun .zixund .wenti1 ul li{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.xiaolu .zixun .zixund .wenti1 ul li:nth-child(3n){

    margin-right: 0px;
    margin-bottom: 10px;
}
.xiaolu .zixun .zixund .wenti1 ul li a{
    display: block;
    width: 90px;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    color: #000;
    background: #fff;
    line-height: 36px;
}
.xiaolu .zixun .zixund .wenti1 ul li a:hover{
    background: #ff6700;
}
.xiaolu .zixun .tit_h22 h2{
    font-size: 12px;
    line-height: 12px;
    
} 
.xiaolu .zixun .tit_h22 .pppp{
    margin:0 49px;
}
.xiaolu .zixun .tit_h22 .sp1{
    font-size: 12px;
    line-height: 12px;
}
.xiaolu .zixun .tit_h22 a:hover h2{
    color: #ff6700;
}
.xiaolu .zixun .daoshi{
    margin-top: 32px;
}
.xiaolu .zixun .daoshi li{
    display: block;
    width: 224px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
    height: 274px;
    position: relative;
    background:rgb(46, 44, 44,0.2) url(../images/小鹿/images/8965531.png) no-repeat center 0;
}
.xiaolu .zixun .daoshi li span{
line-height: 16px;
font-size: 16px;
color: #fff;
display: block;
text-align: center;
margin-top: 236px;
}
.xiaolu .zixun .daoshi li a{
    display: block;
    width: 224px;
    overflow: hidden;
    height: 274px;
    background: rgb(253, 137, 4 , 0.6);
    position: absolute;
    top: 0;
    padding: 30px 0 0 30px;
    box-sizing: border-box;
    display: none;
}
.xiaolu .zixun .daoshi li a h2{
   font-size: 18px;
   line-height: 18px;
   color: #fff
}
.xiaolu .zixun .daoshi li a p{
   font-size: 14px;
   line-height: 14px;
   margin-top: 20px;
   color: #fff
}
.xiaolu .zixun .daoshi li:hover a{
    display: block;
} 
.xiaolu .zixun .zixunggao{
    width: 100%;
    height: 180px;
    background: url(../images/小鹿/images/bg-help.png) no-repeat;
    margin-top: 30px;
}















/* 
baodao star---------
*/

.xiaolu .baodao{
    height: 429px;
    background: #F8F8F8;
    overflow: hidden;
}
.xiaolu .baodao .tit_h2 h2,.xiaolu .baodao .tit_h2 span{
    font-size: 16px;
    line-height: 16px
}
.xiaolu .baodao .baodao222 h2,.xiaolu .baodao .baodao222 span{
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
}
.xiaolu .baodao ul{
    margin-top: 20px;
}
.xiaolu .baodao ul li{
    width: 380px;
    height: 120px;
    background: #fff;
    padding: 20px 0 0 30px;
    box-sizing: border-box;
    float: left;
    margin-right: 30px;
}
.xiaolu .baodao ul li a{
    background: url(../images/list.png) no-repeat 0 12px;
    display: block;
    width: 248px;
    padding-left: 16px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 32px;
    color: #000;
}
.xiaolu .baodao .baodaou li{
    width: 150px;
    height: 70px;
    background: url(../images/小鹿/images/friend-logo-1.png) no-repeat;
}
.xiaolu .baodao .baodaou .li2{
    background: url(../images/小鹿/images/friend-logo-2.png) no-repeat;
}
.xiaolu .baodao .baodaou .li3{
    background: url(../images/小鹿/images/friend-logo-3.png) no-repeat;
}
.xiaolu .baodao .baodaou .li4{
    background: url(../images/小鹿/images/friend-logo-4.png) no-repeat;
}
.xiaolu .baodao .baodaou .li5{
    background: url(../images/小鹿/images/friend-logo-5.png) no-repeat;
}



/* 
footer star-----------
*/

.xiaolu .footer{
    height: 626px;
    background: #1B1B1B;
}
.xiaolu .footer .foot-hea{
    padding-bottom: 62px;
    box-sizing: border-box;
    width: 100%;
    /* background: pink; */
    border-bottom:1px solid #717171; 
}
.xiaolu .footer .foot-hea p{
     margin-top: 60px;
     font-size: 0;
}
.xiaolu .footer .foot-hea p a{ 
    display: inline-block;
    width: 100px;
    height: 38px;
    font-size: 15px;
    line-height: 38px; 
    color: #a7a5a5e8;
    text-align: center;
}
.xiaolu .footer .foot-hea p .a1{ 
    background: #494949;
}
.xiaolu .footer .foot-hea p .a2{ 
    background: #323232;
}

.xiaolu .footer .foot-hea ul{ 
    margin-top: 20px;

}

.xiaolu .footer .foot-hea ul li{ 
    margin-right: 35px;
    float: left;
}
.xiaolu .footer .foot-hea ul li a{ 
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #717171;
}
.xiaolu .footer .footer1{
    border-bottom: 1px solid #717171;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.xiaolu .footer .footer1 dl{ 
    width: 160px;
    margin-top: 53px; 
    float: left;
}
.xiaolu .footer .footer1 dl dt{ 
    font-size: 13px;
    line-height: 27px;
   
}

.xiaolu .footer .footer1 dl dd a{ 
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #717171;
    margin: 8px 0;
}
.xiaolu .footer .footer1 dl dd a:hover{ 
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #d8d7d7;
    margin: 8px 0;
}
.xiaolu .footer .erweima{
    float: left;
    margin-top: 60px;
    position: relative;
    color: #fff;
    margin-left: 40px;
}
.xiaolu .footer .erweima h2{
    font-size: 20px;
    line-height: 20px;
    margin-top: 26px;
}
.xiaolu .footer .erweima p{
    font-size: 17px;
    line-height: 17px;
}
.xiaolu .footer .erweima span{
    margin-top: 26px;
    width: 140px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    background: #494949;
    border: 1px solid #717171;
}
.xiaolu .footer .erweima .ddimg{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: -128px;
    left: -40px;
    display: none;
}
.xiaolu .footer .erweima .ddimg1{
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: -128px;
    left: 120px;
    display: none;
}
.xiaolu .footer .erweima img{
    width:160px;
    height: 160px;
}
.xiaolu .footer .erweima .sspp1:hover + .ddimg{
    display: block;
}
.xiaolu .footer .erweima .sspp2:hover + .ddimg1{
    display: block;
}
.xiaolu .footer2{
   
   
}
.xiaolu .footer2 p{
    background: url(../images/footer1.png) no-repeat;
    margin: auto; width: 624px;
    padding-left: 156px;
    box-sizing: border-box;
    white-space: pre-line;
    font-size: 12px;
    height: 45px;
    line-height: 22px;
    margin-top: 60px;
    color: #717171;
}

.xiaolu .guding{
    height:320px;
    width: 80px;
    background: #fff;
    position: fixed;
    top: 250px;
right: 20px;
/* overflow: hidden; */
/* z-index: 999999; */

}
.xiaolu .guding a{
    height:80px;
    width: 80px;
    display: block;
    padding-top: 54px;
    box-sizing: border-box;
    color: #717171;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
.xiaolu .guding .a1{
    background: url(../images/小鹿/images/icon-about-0.png) no-repeat center 14px;

}
.xiaolu .guding .a2{
    background: url(../images/小鹿/images/icon-kefu-0.png) no-repeat center 14px;
}
.xiaolu .guding .a3{
  
    background: url(../images/小鹿/images/icon-appdl-0.png) no-repeat center 14px;
}
.xiaolu .guding .a4{
    background: url(../images/小鹿/images/icon-totop-0.png) no-repeat center 14px;
}
.xiaolu .guding .ddimg3{
    width: 160px;
height: 160px;
background: #fff;
text-align: center;
display: none;
position: absolute;
top: 160px;
right: 100px;
}
.xiaolu .guding .ddimg3 img{
    width: 110px;
height: 110px;
margin-top: 25px;
}
.xiaolu .guding .a3:hover + .ddimg3{
  display: block;
 }






