@function vw($px) {
    @return ($px/750)*100vw;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    height: 100%;
}

ul,
ol,
dl {
    list-style: none;
}

a {
    text-decoration: none;
}

.content {
    width: vw(690);
    height: 100%;
    margin: auto;
}

#jingdong {
    width: 100%;
    height: 100%;

    .jd-header {
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-size: vw(30);
            }
        }
    }

    .jd-search {
        height: vw(356);
        width: 100%;
        background: red;

        .jd-input {
            input {
                margin-top: vw(30);
                height: vw(58);
                width: vw(615);
                border-radius: vw(29);
                border: 0;
                padding-left: vw(122);
                box-sizing: border-box;
            }
        }

        .sear-nav {
            margin-top: vw(44);

            .list1 {
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        display: block;
                        font-size: vw(26);
                        color: rgb(117, 110, 110);
                    }

                    .nav-click {
                        font-size: vw(34);
                        position: relative;
                    }

                    .nav-click::after {
                        content: "";
                        height: vw(2);
                        width: vw(30);
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translate(-50%, 0);
                        background: #fff;
                    }
                }
            }
        }
    }

    .jd-banner {
        position: relative;

        a {
            position: absolute;
            top: vw(-150);
            display: block;

            img {
                border-radius: vw(15);
                width: vw(692);
            }
        }
    }

    .jd-nav {
        margin-top: vw(54);

        .list1 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            li {
                margin-top: vw(30);

                a {
                    width: vw(130);
                    display: flex;
                    font-size: vw(22);
                    color: rgb(49, 48, 48);
                    flex-direction: column;
                    // justify-content: space-between;
                    align-items: center;

                    span:first-child {
                        display: block;
                        width: vw(79);
                        height: vw(79);
                        background: url(../images/ico.png) no-repeat;
                        background-size: vw(160);
                    }

                }
            }

            li:nth-child(2) {
                a {
                    span:first-child {
                        background: url(../images/ico.png) no-repeat vw(-80) 0;
                        background-size: vw(160);
                        // background-position: ;
                    }

                }

            }

            li:nth-child(3) {
                a {
                    span:first-child {
                        background: url(../images/ico.png) no-repeat 0 vw(-80);
                        background-size: vw(160);
                        // background-position: ;
                    }

                }

            }

            li:nth-child(4) {
                a {
                    span:first-child {
                        background: url(../images/ico.png) no-repeat vw(-80) vw(-80);
                        background-size: vw(160);
                        // background-position: ;
                    }

                }

            }

            li:nth-child(5) {
                a {
                    span:first-child {
                        background: url(../images/ico.png) no-repeat vw(0) vw(-160);
                        background-size: vw(160);
                        // background-position: ;
                    }

                }

            }

            li:nth-child(6) {
                a {
                    span:first-child {
                        background: url(../images/ico.png) no-repeat vw(-80) vw(-160);
                        background-size: vw(160);
                        // background-position: ;
                    }

                }

            }

            li:nth-child(7) {
                a {
                    span:first-child {
                        background: url(../images/ico.png) no-repeat vw(0) vw(-320);
                        background-size: vw(160);
                        // background-position: ;
                    }

                }

            }

            li:nth-child(8) {
                a {
                    span:first-child {
                        background: url(../images/ico.png) no-repeat vw(-80) vw(-320);
                        background-size: vw(160);
                        // background-position: ;
                    }

                }

            }

            li:nth-child(9) {
                a {
                    span:first-child {
                        background: url(../images/ico.png) no-repeat vw(0) vw(-239);
                        background-size: vw(160);
                        // background-position: ;
                    }

                }

            }

            li:nth-child(10) {
                a {
                    span:first-child {
                        background: url(../images/ico.png) no-repeat vw(-80) vw(-239);
                        background-size: vw(160);
                        // background-position: ;
                    }

                }

            }
        }
    }

    .jd-main {
        width: 100%;
        height: 100%;
        background: #ccc;

        .box1 {


            .list1 {
                // display: flex;
                // flex-wrap: wrap;
                // flex-direction: column;
                column-count: 2;
                column-gap: 10;
                width: vw(670);

                li {
                    width: vw(335);
                    height: vw(545);
                    background: #fff;
                    border: 1px solid red;

                    a {
                        display: flex;
                        flex-direction: column;
                        width: vw(335);
                        height: vw(545);
                        align-items: center;
                        break-inside: avoid;

                        img {
                            width: vw(335);
                        }

                        p:nth-of-type(1) {
                            color: #000;
                            font-size: vw(26);
                            width: vw(256);
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;

                        }

                        p:nth-of-type(2) {
                            color: #FD3A42;

                            span:first-child {
                                font-size: vw(22);
                            }

                            span:nth-child(2) {
                                font-size: vw(30);
                            }
                        }

                        p:nth-of-type(3) {
                            color: #ccc;
                            font-size: vw(24);
                        }
                    }
                }
            }
        }
    }
}