* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

ul,
ol,
dl {
  list-style: none;
}

a {
  text-decoration: none;
}

.content {
  width: 92vw;
  height: 100%;
  margin: auto;
}

#jingdong {
  width: 100%;
  height: 100%;
}

#jingdong .jd-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#jingdong .jd-header .content h2 {
  font-size: 4vw;
}

#jingdong .jd-search {
  height: 47.46667vw;
  width: 100%;
  background: red;
}

#jingdong .jd-search .jd-input input {
  margin-top: 4vw;
  height: 7.73333vw;
  width: 82vw;
  border-radius: 3.86667vw;
  border: 0;
  padding-left: 16.26667vw;
  box-sizing: border-box;
}

#jingdong .jd-search .sear-nav {
  margin-top: 5.86667vw;
}

#jingdong .jd-search .sear-nav .list1 {
  display: flex;
  justify-content: space-between;
}

#jingdong .jd-search .sear-nav .list1 li a {
  display: block;
  font-size: 3.46667vw;
  color: #756e6e;
}

#jingdong .jd-search .sear-nav .list1 li .nav-click {
  font-size: 4.53333vw;
  position: relative;
}

#jingdong .jd-search .sear-nav .list1 li .nav-click::after {
  content: "";
  height: 0.26667vw;
  width: 4vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
}

#jingdong .jd-banner {
  position: relative;
}

#jingdong .jd-banner a {
  position: absolute;
  top: -20vw;
  display: block;
}

#jingdong .jd-banner a img {
  border-radius: 2vw;
  width: 92.26667vw;
}

#jingdong .jd-nav {
  margin-top: 7.2vw;
}

#jingdong .jd-nav .list1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#jingdong .jd-nav .list1 li {
  margin-top: 4vw;
}

#jingdong .jd-nav .list1 li a {
  width: 17.33333vw;
  display: flex;
  font-size: 2.93333vw;
  color: #313030;
  flex-direction: column;
  align-items: center;
}

#jingdong .jd-nav .list1 li a span:first-child {
  display: block;
  width: 10.53333vw;
  height: 10.53333vw;
  background: url(../images/ico.png) no-repeat;
  background-size: 21.33333vw;
}

#jingdong .jd-nav .list1 li:nth-child(2) a span:first-child {
  background: url(../images/ico.png) no-repeat -10.66667vw 0;
  background-size: 21.33333vw;
}

#jingdong .jd-nav .list1 li:nth-child(3) a span:first-child {
  background: url(../images/ico.png) no-repeat 0 -10.66667vw;
  background-size: 21.33333vw;
}

#jingdong .jd-nav .list1 li:nth-child(4) a span:first-child {
  background: url(../images/ico.png) no-repeat -10.66667vw -10.66667vw;
  background-size: 21.33333vw;
}

#jingdong .jd-nav .list1 li:nth-child(5) a span:first-child {
  background: url(../images/ico.png) no-repeat 0vw -21.33333vw;
  background-size: 21.33333vw;
}

#jingdong .jd-nav .list1 li:nth-child(6) a span:first-child {
  background: url(../images/ico.png) no-repeat -10.66667vw -21.33333vw;
  background-size: 21.33333vw;
}

#jingdong .jd-nav .list1 li:nth-child(7) a span:first-child {
  background: url(../images/ico.png) no-repeat 0vw -42.66667vw;
  background-size: 21.33333vw;
}

#jingdong .jd-nav .list1 li:nth-child(8) a span:first-child {
  background: url(../images/ico.png) no-repeat -10.66667vw -42.66667vw;
  background-size: 21.33333vw;
}

#jingdong .jd-nav .list1 li:nth-child(9) a span:first-child {
  background: url(../images/ico.png) no-repeat 0vw -31.86667vw;
  background-size: 21.33333vw;
}

#jingdong .jd-nav .list1 li:nth-child(10) a span:first-child {
  background: url(../images/ico.png) no-repeat -10.66667vw -31.86667vw;
  background-size: 21.33333vw;
}

#jingdong .jd-main {
  width: 100%;
  height: 100%;
  background: #ccc;
}

#jingdong .jd-main .box1 .list1 {
  column-count: 2;
  column-gap: 10;
  width: 89.33333vw;
}

#jingdong .jd-main .box1 .list1 li {
  width: 44.66667vw;
  height: 72.66667vw;
  background: #fff;
  border: 1px solid red;
}

#jingdong .jd-main .box1 .list1 li a {
  display: flex;
  flex-direction: column;
  width: 44.66667vw;
  height: 72.66667vw;
  align-items: center;
  break-inside: avoid;
}

#jingdong .jd-main .box1 .list1 li a img {
  width: 44.66667vw;
}

#jingdong .jd-main .box1 .list1 li a p:nth-of-type(1) {
  color: #000;
  font-size: 3.46667vw;
  width: 34.13333vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#jingdong .jd-main .box1 .list1 li a p:nth-of-type(2) {
  color: #FD3A42;
}

#jingdong .jd-main .box1 .list1 li a p:nth-of-type(2) span:first-child {
  font-size: 2.93333vw;
}

#jingdong .jd-main .box1 .list1 li a p:nth-of-type(2) span:nth-child(2) {
  font-size: 4vw;
}

#jingdong .jd-main .box1 .list1 li a p:nth-of-type(3) {
  color: #ccc;
  font-size: 3.2vw;
}
