body, html {
  height: 100%;
}

#allpy {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#allpy .apy-header {
  height: 51px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#allpy .apy-header .a1 {
  width: 26px;
  height: 31px;
  background: url(../images/allpyra/images/tong.png) no-repeat;
  margin-left: 15px;
}

#allpy .apy-header .header-h2 {
  width: 192px;
  height: 28px;
  background: url(../images/allpyra/images/logo.png) no-repeat;
}

#allpy .apy-header .a2 {
  width: 26px;
  height: 31px;
  background: url(../images/allpyra/images/sear.png) no-repeat;
  margin-right: 10px;
}

#allpy .apy-main {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#allpy .apy-main .banner {
  width: 100%;
}

#allpy .apy-main .banner img {
  width: 100%;
}

#allpy .apy-main .main-nva {
  height: 72px;
}

#allpy .apy-main .main-nva .list1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#allpy .apy-main .main-nva .list1 li {
  height: 72px;
  display: flex;
  align-items: center;
}

#allpy .apy-main .main-nva .list1 li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
  line-height: 8px;
  color: #000;
}

#allpy .apy-main .main-nva .list1 li a img {
  width: 40px;
  height: 40px;
}

#allpy .apy-main .main-nva .list1 li a span {
  margin-top: 10px;
}

#allpy .apy-main .box1 {
  height: 85px;
  width: 100%;
  background: #f1ecec;
  padding: 10px 0;
  box-sizing: border-box;
}

#allpy .apy-main .box1 .a1 {
  height: 100%;
  padding: 12px 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  background: url(../images/allpyra/images/bg.png) no-repeat center center;
  background-size: contain;
  display: flex;
  justify-content: center;
}

#allpy .apy-main .box1 .a1 .xiaoxi {
  width: 45%;
  font-size: 8px;
  line-height: 13px;
}

#allpy .apy-main .box1 .a1 .xiaoxi p {
  width: 100%;
  display: flex;
  margin: 5px 0;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#allpy .apy-main .box1 .a1 .xiaoxi p span:first-child {
  border: 1px solid #ec1c73;
  margin-right: 10px;
  color: #ec1c73;
}

#allpy .apy-main .box2 {
  height: 325px;
  width: 100%;
}

#allpy .apy-main .box2 .a1 {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 10px;
  box-sizing: border-box;
}

#allpy .apy-main .box2 .a1 img {
  width: 100%;
}

#allpy .apy-main .box2 .guntu {
  height: 156px;
  width: 100%;
}

#allpy .apy-main .box2 .guntu .list1 {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

#allpy .apy-main .box2 .guntu .list1 li a {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  margin-left: 10px;
}

#allpy .apy-main .box2 .guntu .list1 li a img {
  width: 100%;
}

#allpy .apy-main .box2 .guntu .list1 li a span:nth-of-type(1) {
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 8px;
  line-height: 12px;
  color: #6e6b6b;
}

#allpy .apy-main .box2 .guntu .list1 li a span:nth-of-type(2) {
  font-size: 9px;
}

#allpy .apy-main .box3 {
  margin-top: 10px;
}

#allpy .apy-main .box4 {
  width: 100%;
}

#allpy .apy-main .box4 .must-buy {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#allpy .apy-main .box4 .must-buy .buy-h2 {
  font-size: 13px;
  font-size: 13px;
  letter-spacing: 11px;
}

#allpy .apy-main .box4 .must-buy span {
  font-size: 7px;
  line-height: 18px;
}

#allpy .apy-main .box4 .wares {
  width: 100%;
}

#allpy .apy-main .box4 .wares .list1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
}

#allpy .apy-main .box4 .wares .list1 li {
  width: 48%;
  padding: 10px 17px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 8px #ebe7e7;
}

#allpy .apy-main .box4 .wares .list1 li a {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#allpy .apy-main .box4 .wares .list1 li a img {
  width: 100%;
}

#allpy .apy-main .box4 .wares .list1 li a p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 10px;
  line-height: 15px;
  color: #2c2b2b;
}

#allpy .apy-main .box4 .wares .list1 li a .dddd {
  width: 100%;
  font-size: 10px;
  line-height: 10px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

#allpy .apy-main .box4 .wares .list1 li a .dddd span:first-child {
  color: #fa627b;
}

#allpy .apy-main .box4 .wares .list1 li a .dddd span:last-child {
  color: #928c8c;
}

#allpy .apy-footer {
  height: 65px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#allpy .apy-footer .list1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#allpy .apy-footer .list1 li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#allpy .apy-footer .list1 li a span:first-child {
  width: 24px;
  height: 24px;
}

#allpy .apy-footer .list1 li a span:first-child img {
  width: 100%;
}

#allpy .apy-footer .list1 li a span:last-child {
  font-size: 12px;
  line-height: 12px;
  color: #717171;
  margin-top: 10px;
}
